/* 
    Created on : 24-giu-2016, 13.38.04
    Author     : matte
*/
.readOnly{
    background-color: #CACACA;
}
#orders{
    position:absolute;
    left: 80%;
}  

#help{
    position:absolute;
    left: 90%;
}    

.disabled{
    pointer-events:none;
    opacity:0.4;
}
#mex{
    position: absolute;
    top:87%;
    left:67%;
    width:30%;
}
#result{
   position: absolute;
    top:85%;
    left:68%;
    width:30%;
}
#trophy{
   position: absolute;
    top:5%;
    left: 33%;
    width:30%;
    z-index:20;
}
#gift {
    position: absolute;
    top:15%;
    left: 33%;
    width:30%;
    z-index:20;
}
#points{
   position: absolute;
    top:15%;
    left: 33%;
    width:30%;
    z-index:20;
}
#codice{
	position: absolute;
	top: 10%;
	left: 45%;
	width: 50%;
        z-index:10;
}
.CodeMirror{
	 border: 4px solid black;
}

#result{
	position: absolute;
}

#canvas{
    position: absolute;
    margin-left: 5%;
    margin-top : 2%;
    position: absolute; 
    width:480px; 
    height:480px;
    z-index:10;
}

#canvasJust{
    position: absolute;
    margin-left: 35%;
    margin-top : 2%;
    position: absolute; 
    width:480px; 
    height:480px;
    z-index:10;
}

#info{
    background-color: rgb(0, 5, 20);
    margin-left: 5%;
    margin-top : 2.5%;
    width:480px; 
    height:470px;
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 90%;
}

#textplay{
    margin-top: 20%;
    font-style: italic;
}

h1{
    text-align: center;
    font-weight: bold;
}

#save{
    position: absolute;
    left:20%;
    top:103%;
}
#undo{
    position: absolute;
    left:0%;
    top:103%;
}

#next{
    position: absolute;
    left:50%;
    top:110%;
    
}