/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-giu-2016, 16.44.17
    Author     : matte
*/

.Lcontainer{
    position:absolute;
    top: 30%;
    left: 30%;
    right: 20%;
    width: 40%;
}

.form-signin-heading{
    text-align: center;
    font-weight: bold;
}

#login{
    position: absolute;
    top:70%;
    left:35%;
    width:30%;
}