/* 
    Created on : 4-lug-2016, 21.19.23
    Author     : matte
*/

.container{
    position:absolute;
    top: 25%;
}

#tab-prof{
    position:absolute;
    left:30%;
}
#trophy{
    position:absolute;
    top: 0;
    left: 37%;
}
#img{
    padding: 10px 10px 10px 10px;
}

#text{
    padding: 10px 10px 10px 10px;
    font-size: large;
    font-weight: bold;
}

.glyphicon {
    font-size: 50px;
}
