/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-set-2016, 12.06.33
    Author     : matte
*/

#img1{
    position: relative;
    width: 100%;

}
#img2{
    position: relative;
    width: 100%;

}
#img3{
    position: relative;
    width: 100%;

}
#img4{
    position: relative;
    width: 100%;

}